* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    column-gap: 30px;
}
.device__block {
    padding: 75px 35px;
}

.device__subtitle {
    text-transform: uppercase;
    text-decoration: ;
}
